*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: rgba(245, 223, 189, 0.306);
}